/* ----------------------- Responsive ----------------------- */


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* 🔒 evita scroll horizontal */
}

/* Tablets (pantallas medianas, 769px - 1024px) */
@media (max-width: 1024px) {

  .logo {
    width: 120px;
    top: 30px;
  }
  .planeta1 {
    width: 180px !important;
    top: 8.2% !important;
    left: 5% !important;
  }
  .planeta2 {
    width: 300px !important;
    bottom: 11% !important;
    right: 0% !important;
  }
  .titulo{
    margin-top: 2.7em !important;
    margin-left: 1em !important;
  }
  h1.titulo {
    font-size: 6rem !important;
    text-align: center;
  }
  .estrella-floating {
    top: 36.3% !important;
    left: 21% !important;
  }

  .tituloslide {
    top: 7% !important;
    left: 4% !important;
    font-size: 1.3em;
  }

  .toast-desc {
    top: 13.8% !important;
    left: 4% !important;
    font-size: 0.8em;
    padding-right: 90px;
    line-height: 1.3;
  }

  .toast-content {
    height: 498px !important;
  }

  .main-img,
  .main-video {
    width: 100% !important;
    height: 498px !important;
  }

}

/* Mobile grande (481px - 768px) */
@media (max-width: 768px) {
  

  .portal-container {

    mask-image: url("../assets/9x16_portal_mask_bigMobile.svg") !important;
  }

  .portal-mask {          
    background-image: url("../assets/9x16_portal_mask_add_bigMobile.svg") !important;


  }

  .logo {
    width: 100px;
    top: 20px;
  }

  .titulo{
    margin-top: 3em !important;
    margin-left: 1.2em !important;
  }
  h1.titulo {
    font-size: 5rem !important;
    text-align: center;
  }

  .estrella-floating {
    width: 400px !important;
    top: 32.8% !important;
    left: 22% !important;
  }

  .titulo-gravity span {
    margin: 0 1px;
    font-size: 1.6rem;
  }

  .planeta1 {
    width: 200px !important;
    top: 4% !important;
    left: 10% !important;
  }

  .planeta2 {
    /*width: 300px !important;*/
    bottom: 13% !important;
    right: 2.5% !important;
  }

  .planeta4 {
    top: -2% !important;
    left: 78% !important;
  }

  .hamburger{
    width: 25px;
    height: 18px;
  }

  .bar {
    height: 2.5px;
  }

  .rotate1 {
    transform: rotate(45deg) translate(4.8px, 5px);
  }

  .rotate2 {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  /* ----- NUESTRO TRABAJO ----- */

  /* --- Cards --- */

  /* --- Pop-ups --- */

  .tituloslide {
    top: 9% !important;
    left: 5.8% !important;
    font-size: 1.35em;
  }

  .toast-desc {
    top: 13.3% !important;
    left: 5.8% !important;
    font-size: 0.75em;
    padding-right: 90px;
  }

  .toast-content {
    padding: 0 !important;
    margin: 0 !important;
    width: 450px !important;
    height: 800px !important;
  }

  .toast-close {
    top: 0.45em !important;
    right: 0em !important;
  }

  .main-img,
  .main-video {
    width: 100% !important;
    height: 800px !important;
  }

  .main-img {
    object-fit: cover !important;
  }

  .miniaturas {
    gap: 0 !important;
    bottom: 5.5% !important;
  }

}

/* Mobile chico (≤ 480px) */
@media (max-width: 480px) {
    
  /* ----- LOGO ----- */
  .logo {
    width: 150px;
    top: 10px;
  }

  /* ----- FONDO-INICIO ----- */

  .planeta4 {
    top: -2% !important;
    left: 78% !important;
  }

  .portal-container {
    height: 91% !important;
    mask-image: url("../assets/9x16_portal_mask.svg") !important;
  }

  .portal-mask {
    background-image: url("../assets/9x16_portal_mask_add.svg") !important;
  }

  /* ----- NAV-BAR ----- */
  .hamburger{
    width: 25px;
    height: 17px;
  }

  .bar {
    height: 2.5px;
  }

  .rotate1 {
    transform: rotate(45deg) translate(4.8px, 4.8px);
  }

  .rotate2 {
    transform: rotate(-45deg) translate(5.5px, -5.5px);
  }

  .sidebar ul li a {
    font-size: 0.95em !important;
    padding: 18px 35px !important;
  } 

  /* ----- FOOTER ----- */

  .footer {
      padding: 10px 12px;
  }

  .footer p {
      font-size: 0.75rem;
      padding-left: 20px;
  }

  /* ----- INICIO ----- */

  .titulo{
    margin-top: 5.5em !important;
    margin-left: 0.8em !important;
  }

  h1.titulo {
    font-size: 3.5rem !important;
    text-align: left;
    line-height: 1.1;
  }

  .estrella-floating {
    width: 250px !important;
    top: 37.6% !important;
    left: 24.5% !important;
  }

  .titulo-gravity span {
    font-size: 2.3rem;
  }

  .planeta1 {
    width: 200px !important;
    top: 10% !important;
    left: 1% !important;
  }

  .planeta2 {
    width: 300px !important;
    bottom: 15% !important;
    right: 3% !important;
  }
  
  /* ----- NUESTRO TRABAJO ----- */

  /* --- Cards --- */

  /* --- Pop-ups --- */

  .tituloslide {
    top: 8.5% !important;
    left: 6% !important;
    font-size: 1.15em;
  }

  .toast-desc {
    top: 12.5% !important;
    left: 6% !important;
    font-size: 0.75em;
  }

  .toast-content {
    padding: 0 !important;
    margin: 0 !important;
    width: 390px !important;
    height: 762px !important;
    /*width: 1080px !important;*/
    /*height: 750px !important;*/
  }

  .toast-close {
    top: 0.2em !important;
    right: -0.3em !important;
  }

  .main-img,
  .main-video {
    width: 100% !important;
    height: auto !important;
  }

  .main-img {
    object-fit: cover !important;
  }

  .miniaturas {
    gap: 0 !important;
    bottom: 4.9% !important;
  }
}
